	<ul class="nav nav-tabs">
		<li class="active">
			<a href="/dailyView" >Daily Schedule</a>
		</li>
		<li>
			<a href="/weeklyView" >Weekly Schedule</a>
		</li>
		<li>
			<a href="/monthlyView" >Monthly Schedule</a>
		</li>
		<li>
			<a href="/groupsView" >Groups</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" >
			<div clsas="row">
				<div class="col-lg-1 ">
				  <a href="/pd"> <img src="/img/left-arrow.png" class="centered arrow"></a>
				</div>
				<div class="col-lg-10">
					<div class = "row">
						<div class="row">
							<div class="col-lg-6 col-centered">
								<label for="CompactView">Show compact view</label>
								<input type="checkbox" value="false" id="CompactView">
								<label for="filterSelect">Filter appointments by category</label>
								<select id="filterSelect" name="filterSelect">
									<% types_hash.keys.each do |k| %>
										<option value= "<%=types_hash[k] %>"><%= k.to_s %></option>
									<% end %>
								</select>
							</div>
						</div>
					<div class = "row">
						<div class="col-lg-6 col-centered">
							<table class="table-striped table-bordered">
								<% if @compact_view %>
									<tr>
										<th class="day" > <%= @date.to_s %> </th>
									</tr>
									<tr>
										<td class="cell "
											onclick="openModal('<%= @date.to_s %>')" >
											<div >
												<% @appointments.each do |e| %>
													 <div class= <%= types_hash.key(e.appointment_type).to_s %> >
														 <%= e.start_time %> - <%= e.end_time %> | <%= e.description %>
													 </div>
												<% end %>
											</div>
										</td>
									</tr>
								<% else %>
									<tr>
										<th class="day" > <%= @date.to_s %>  </th>
										<th>	</th>
									</tr>
										<% (1..24).each do |e| %>
											<tr onclick="openModal('<%= @date.to_s %>')" >
												<th class="text-center"><%= e %>:00</th>
												<td class="single-cell">
													<% @aggregated_appointments[e].each do |a| %>
														 <div class=<%= types_hash.key(e.appointment_type).to_s %> >
															  <%= a.start_time %> - <%= a.end_time %> | <%= a.description %>
														 </div>
													<% end %>
												</td>
											</tr>
										<% end %>
									<% end %>
								</table>
							</div>

							<div class="modalDialog" id="EventModal">
								<div class="row">
									<div class="col-lg-10 col-centered">
										<div class='panel'>
											<div class="panel-heading">
												<h4 class="panel-title" >
														 Create a new appointment
											 </h4>
										 </div>
										 <div title="Close" class="close" onclick="closeModal()">X</div>
										 <div class="panel-body">
											 <form action='/createAppointment' method="post">
										   	<div class="form-group">
													<div class="control-group">
														 <input class="form-control" type="text" id="description" name="description" placeholder="Enter event description">
													</div>
													<div class="control-group">
													 <label for="dselect">Date</label>
													 <input class="form-control" type="text" id="dselect" name="event_date" value="">
													</div>
													<div class="control-group">
														<label for="startTimeSelect">Start time</label>
														<input class="form-control" type="text" id="startTime" name="start_time">
													 </div>
													 <div class="control-group">
														 <label for="endTimeSelect">End time</label>
														 <input class="form-control" type="text" id="endTime" name="end_time">
													 </div>
													 <div class="control-group">
														 <label for="typeSelect">Select type</label>
														 <select id="typeSelect" name="appointment_type">
															 <% types_hash.keys.each do |k| %>
																 <option value= "<%=types_hash[k] %>"><%= k.to_s %></option>
															 <% end %>
														 </select>
													 </div>
														 <div hidden="hidden">
															 <input type="text" id="group_id" name="group_id" value="0">
														 </div>
													 </div>
													 <div class="control-group">
															<button type="submit" class="btn btn-success btn-primary">
																Save
															</button>
													 </div>
												 </form>
											</div>
										</div>
									</div>
								</div>
							</div>

						 </div>
					 </div>
				 </div>
				<div class="col-lg-1">
					<a href="/nd"> <img src="/img/right-arrow.png" class="arrow centered"></a>
				</div>
			</div>
		</div>
	</div>
